USE [ProductDB]
GO
/****** Object:  Table [dbo].[AmazonGiftCards]    Script Date: 13-06-2026 17:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmazonGiftCards](
	[GiftCardId] [int] NOT NULL,
	[GiftCardName] [nvarchar](500) NULL,
	[Brand] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[OriginalAmount] [decimal](18, 2) NULL,
	[CustomerAmount] [decimal](18, 2) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NOT NULL,
	[CurrencyCode] [nvarchar](10) NOT NULL,
	[RecipientEmail] [nvarchar](255) NULL,
	[RecipientName] [nvarchar](255) NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[Occasion] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GiftCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AmazonGiftCards] ADD  DEFAULT ((0)) FOR [CustomerAmount]
GO
ALTER TABLE [dbo].[AmazonGiftCards] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[AmazonGiftCards] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[AmazonGiftCards] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[AmazonGiftCards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AmazonGiftCards] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
