USE [ProductDB]
GO
/****** Object:  Table [dbo].[Cooking]    Script Date: 13-06-2026 17:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cooking](
	[C_id] [int] NOT NULL,
	[C_name] [nvarchar](500) NOT NULL,
	[Brand] [varchar](100) NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[CurrencyCode] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cooking] ([C_id], [C_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (1, N'Instant Pot Duo 7-in-1 Electric Pressure Cooker, Slow Cooker, Rice, Steamer, Sauté, Yogurt Maker, Warmer & Sterilizer, Includes App With Over 800 Recipes, Stainless Steel, 6 Quart', N'Instant Pot', N'assets/images/Cooking/c-1.jpg', CAST(4.70 AS Decimal(3, 2)), 184700, CAST(8623.00 AS Decimal(10, 2)), N'INR')
INSERT [dbo].[Cooking] ([C_id], [C_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (2, N'Cosori Rice Cooker 10 Cup, 24h Keep Warm, Non-stick Ceramic Inner Pot, 18 Functions Fuzzy Logic Rice Maker with Stainless Steel Steamer Basket, Sauté, Slow Cooker, Black', N'Cosori', N'assets/images/Cooking/c-2.jpg', CAST(4.80 AS Decimal(3, 2)), 5440, CAST(7984.00 AS Decimal(10, 2)), N'INR')
INSERT [dbo].[Cooking] ([C_id], [C_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (3, N'CUCKOO High Pressure Rice Cooker 10-Cup Uncooked / 20-Cup Cooked with Nonstick Inner Pot, Large Rice Maker with 13 Menu Options and Steam Plate, Fuzzy Logic Tech, Voice Guide, White (CRP-P1009SW)', N'CUCKOO', N'assets/images/Cooking/c-3.jpg', CAST(4.50 AS Decimal(3, 2)), 2595, CAST(22997.00 AS Decimal(10, 2)), N'INR')
GO
ALTER TABLE [dbo].[Cooking] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[Cooking] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[Cooking]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Cooking]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Cooking]  WITH CHECK ADD CHECK  (([ReviewCount]>=(0)))
GO
