USE [ProductDB]
GO
/****** Object:  Table [dbo].[GamingProduct]    Script Date: 13-06-2026 17:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamingProduct](
	[GP_id] [int] NOT NULL,
	[GP_name] [nvarchar](500) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[ImageURL] [nvarchar](500) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Model] [nvarchar](100) NULL,
	[CurrencyCode] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[GP_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GamingProduct] ([GP_id], [GP_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [Model], [CurrencyCode]) VALUES (1, N'ASUS ROG Strix G16 (2025) Gaming Laptop, 16” FHD+ 16:10 165Hz/3ms Display, NVIDIA® GeForce RTX™ 5060 Laptop GPU, Intel® Core™ i7 Processor 14650HX, 16GB DDR5, 1TB Gen 4 SSD, Wi-Fi 7, Windows 11 Home', N'ASUS', N'assets/images/Gaming/gp-1.jpg', CAST(4.50 AS Decimal(3, 2)), 471, CAST(127683.00 AS Decimal(10, 2)), N'ROG Strix G16', N'INR')
INSERT [dbo].[GamingProduct] ([GP_id], [GP_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [Model], [CurrencyCode]) VALUES (2, N'msi Codex Z2 Gaming Desktop: AMD R7-8700F, GeForce RTX 5070, 32GB DDR5, 2TB m.2 NVMe SSD, USB Type-C, VR-Ready, Windows 11 Home : A8NVP-436US', N'msi', N'assets/images/Gaming/gp-2.jpg', CAST(4.40 AS Decimal(3, 2)), 217, CAST(195790.00 AS Decimal(10, 2)), N'Ryzen 7', N'INR')
INSERT [dbo].[GamingProduct] ([GP_id], [GP_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [Model], [CurrencyCode]) VALUES (3, N'Lenovo Legion Tower 5i – AI-Powered Gaming PC - Intel® Core Ultra 7 265F Processor – NVIDIA® GeForce RTX™ 5070 Ti Graphics – 32 GB Memory – 1 TB Storage – 3 Months of PC GamePass', N'Lenovo', N'assets/images/Gaming/gp-3.jpg', CAST(4.70 AS Decimal(3, 2)), 86, CAST(258226.00 AS Decimal(10, 2)), N'Intel Core Ultra 7', N'INR')
GO
ALTER TABLE [dbo].[GamingProduct] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[GamingProduct] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[GamingProduct]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[GamingProduct]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[GamingProduct]  WITH CHECK ADD CHECK  (([ReviewCount]>=(0)))
GO
