USE [ProductDB]
GO
/****** Object:  Table [dbo].[GiftCardOrders]    Script Date: 13-06-2026 17:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCardOrders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[GiftCardId] [int] NULL,
	[RecipientName] [varchar](200) NULL,
	[RecipientEmail] [varchar](200) NULL,
	[CustomerAmount] [decimal](10, 2) NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GiftCardOrders] ON 

INSERT [dbo].[GiftCardOrders] ([OrderId], [GiftCardId], [RecipientName], [RecipientEmail], [CustomerAmount], [OrderDate]) VALUES (1, 7, N'hqjew', N'silar@gmail.com', CAST(4766.00 AS Decimal(10, 2)), CAST(N'2026-06-10T13:41:27.837' AS DateTime))
INSERT [dbo].[GiftCardOrders] ([OrderId], [GiftCardId], [RecipientName], [RecipientEmail], [CustomerAmount], [OrderDate]) VALUES (2, 7, N'wdwwq', N'silar@gmail.com', CAST(4766.00 AS Decimal(10, 2)), CAST(N'2026-06-10T13:42:34.230' AS DateTime))
INSERT [dbo].[GiftCardOrders] ([OrderId], [GiftCardId], [RecipientName], [RecipientEmail], [CustomerAmount], [OrderDate]) VALUES (3, 8, N'eren', N'ereny@gmail.com', CAST(19046.00 AS Decimal(10, 2)), CAST(N'2026-06-10T13:45:08.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiftCardOrders] OFF
GO
ALTER TABLE [dbo].[GiftCardOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
