USE [ProductDB]
GO
/****** Object:  Table [dbo].[HomeKitchen]    Script Date: 13-06-2026 17:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeKitchen](
	[HK_id] [int] NOT NULL,
	[HK_name] [nvarchar](500) NOT NULL,
	[Brand] [varchar](100) NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[CurrencyCode] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HK_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HomeKitchen] ([HK_id], [HK_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (1, N'Boho Table Runner for Home Decor with Tassels 72 Inches Long , Farmhouse Rustic Green Table Runners for Bohemian Kitchen Dining Table(12x48in,Fringe Included)', N'Vanzard', N'assets/images/HomeKitchen/hk-1.jpg', CAST(4.50 AS Decimal(3, 2)), 60, CAST(951.00 AS Decimal(10, 2)), N'INR')
INSERT [dbo].[HomeKitchen] ([HK_id], [HK_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (2, N'Sawysine 30 Inch and 8.5 Inch Wooden Dough Bowl Decoration Vintage Hand Large Carved Rustic Long Wood Bread Dough Bowl for Living Room Home Dining Room Kitchen Decoration(Brown)', N'Sawysine', N'assets/images/HomeKitchen/hk-2.jpg', CAST(4.40 AS Decimal(3, 2)), 4, CAST(3810.53 AS Decimal(10, 2)), N'INR')
INSERT [dbo].[HomeKitchen] ([HK_id], [HK_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (3, N'Chair Cushions for Dining Chairs Set of 4 Durable D-Shaped Seat Cushions with Non-Slip Backing Secure Ties Thick Cozy Seat Pad for Kitchen Dining Room Office(18x16.5x3in Sage Green)', N'FlyGulls', N'assets/images/HomeKitchen/hk-3.jpg', CAST(4.50 AS Decimal(3, 2)), 214, CAST(3781.94 AS Decimal(10, 2)), N'INR')
GO
ALTER TABLE [dbo].[HomeKitchen] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[HomeKitchen] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[HomeKitchen]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[HomeKitchen]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
