USE [ProductDB]
GO
/****** Object:  Table [dbo].[KitchenDining]    Script Date: 13-06-2026 17:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitchenDining](
	[KD_id] [int] NOT NULL,
	[KD_name] [nvarchar](500) NOT NULL,
	[Brand] [varchar](100) NOT NULL,
	[ImageURL] [nvarchar](300) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CurrencyCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[KD_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KitchenDining] ([KD_id], [KD_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (1, N'SENSARTE Nonstick Grill Pan for Stove Tops, Versatile Griddle with Pour Spouts, Square Big Cooking Surface, Durable Skillet Indoor & Outdoor Grilling. PFOA Free, 9.5 Inch', N'SENSARTE', N'assets\images\KitchenDining/kd-1.jpg', CAST(4.60 AS Decimal(3, 2)), 3687, CAST(2567.21 AS Decimal(10, 2)), N'INR')
INSERT [dbo].[KitchenDining] ([KD_id], [KD_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (2, N'2PCS Grill pan: Grill topper for outdoor grill - Non-stick enamel coating grill topper suitable for camping, picnic, party', N'guogiyala', N'assets\images\KitchenDining/kd-2.jpg', CAST(4.40 AS Decimal(3, 2)), 70, CAST(2490.51 AS Decimal(10, 2)), N'INR')
INSERT [dbo].[KitchenDining] ([KD_id], [KD_name], [Brand], [ImageURL], [Rating], [ReviewCount], [Price], [CurrencyCode]) VALUES (3, N'Qetumst Small Non-Stick 3 Piece Grill Basket Set – BBQ Grilling Basket for Vegetables, Seafood & Meat – Heavy Duty Perforated Grill Pan for Charcoal, Gas and Outdoor Grills, Easy to Clean Grilling Accessories', N'Qetumst', N'assets\images\KitchenDining/kd-3.jpg', CAST(4.20 AS Decimal(3, 2)), 62, CAST(3339.57 AS Decimal(10, 2)), N'INR')
GO
ALTER TABLE [dbo].[KitchenDining] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[KitchenDining] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[KitchenDining] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[KitchenDining]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[KitchenDining]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[KitchenDining]  WITH CHECK ADD CHECK  (([ReviewCount]>=(0)))
GO
