USE [ProductDB]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13-06-2026 17:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ASIN] [varchar](20) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[Category] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[ListPrice] [decimal](10, 2) NOT NULL,
	[SalePrice] [decimal](10, 2) NULL,
	[CurrencyCode] [char](3) NULL,
	[StockQty] [int] NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NULL,
	[ImageURL] [nvarchar](1000) NULL,
	[IsPrimeEligible] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ASIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsPrimeEligible]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
