USE [ProductDB]
GO
/****** Object:  Table [dbo].[ShopFashion]    Script Date: 13-06-2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopFashion](
	[SF_id] [int] NOT NULL,
	[SF_name] [nvarchar](500) NOT NULL,
	[Brand] [varchar](100) NULL,
	[Rating] [decimal](3, 2) NULL,
	[ReviewCount] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Type] [varchar](100) NULL,
	[CurrencyCode] [varchar](3) NULL,
	[ImageURL] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SF_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ShopFashion] ([SF_id], [SF_name], [Brand], [Rating], [ReviewCount], [Price], [Type], [CurrencyCode], [ImageURL]) VALUES (1, N'Straight Leg Jeans for Women,High Waisted Wide Leg Loose Stretchy Boyfriend Denim Pants Baggy Jeans for Women', N'Mars power', CAST(4.30 AS Decimal(3, 2)), 950, CAST(3143.00 AS Decimal(10, 2)), N'Jeans', N'INR', N'assets/images/ShopFashion/sf-01.jpg')
INSERT [dbo].[ShopFashion] ([SF_id], [SF_name], [Brand], [Rating], [ReviewCount], [Price], [Type], [CurrencyCode], [ImageURL]) VALUES (2, N'Lee Women''s Ultra Lux Comfort with Flex Motion Bootcut Jean', N'Lee', CAST(4.40 AS Decimal(3, 2)), 23253, CAST(1902.00 AS Decimal(10, 2)), N'Jeans', N'INR', N'assets/images/ShopFashion/sf-02.jpg')
INSERT [dbo].[ShopFashion] ([SF_id], [SF_name], [Brand], [Rating], [ReviewCount], [Price], [Type], [CurrencyCode], [ImageURL]) VALUES (3, N'Gloria Vanderbilt Women''s Classic Tapered Amanda Jeans', N'Gloria Vanderbilt', CAST(4.30 AS Decimal(3, 2)), 84376, CAST(1597.00 AS Decimal(10, 2)), N'Jeans', N'INR', N'assets/images/ShopFashion/sf-03.jpg')
GO
ALTER TABLE [dbo].[ShopFashion] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[ShopFashion] ADD  DEFAULT ('INR') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[ShopFashion]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ShopFashion]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[ShopFashion]  WITH CHECK ADD CHECK  (([ReviewCount]>=(0)))
GO
