USE [ProductDB]
GO
/****** Object:  Table [dbo].[Shows]    Script Date: 13-06-2026 17:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shows](
	[ShowID] [int] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](200) NOT NULL,
	[ReleaseYear] [int] NULL,
	[Audience] [nvarchar](200) NULL,
	[ContentRating] [nvarchar](10) NULL,
	[Cast] [nvarchar](500) NULL,
	[Genre] [nvarchar](100) NULL,
	[Category] [nvarchar](200) NULL,
	[Rating] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Shows] ([ShowID], [Title], [Description], [Image], [ReleaseYear], [Audience], [ContentRating], [Cast], [Genre], [Category], [Rating]) VALUES (1, N'Every Year After', N'Carley Fortune''s Every Year After is a romantic, nostalgic story of first loves and the peaple and choices that mark us forever', N'assets/images/Prime/Top/nav-1.avif', 2026, N'Young Adult Audience', N'16+', N'Sadie Soverall, Matt Cornett, Michael Bradway', N'Romance', N'Series', CAST(4.80 AS Decimal(3, 2)))
GO
